<!DOCTYPE html>
<html lang="en">

<head>
  <title>All Videos</title>
    <style type="text/css">
        .align-self-center {
            width: 734px;
        }
        #courselist {
            width: 894px;
            margin-left: 0px;
        }
        #play {
            height: 388px;
            margin-left: 4px;
            width: 720px;
        }
        .mb-0 {
            width: 748px;
        }

        <!-- table style-->
             body {
	background: #fafafa url(https://jackrugile.com/images/misc/noise-diagonal.png);
	color: #444;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	text-shadow: 0 1px 0 #fff;
}

strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 20px;
	line-height: 24px;
	margin: 30px auto 30px 55px;
	text-align: left;
	width: 980px;
}	

th {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

        .auto-style1 {
            width: 29px;
        }
        .auto-style2 {
            width: 699px;
        }

        </style>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
    
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <div class="py-2 bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-9 d-none d-lg-block">
            <a href="#" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> Have a questions?</a> 
            <a href="#" class="small mr-3"><span class="icon-phone2 mr-2"></span>9609185858</a> 
            <a href="#" class="small mr-3"><span class="icon-envelope-o mr-2"></span>kousik.pramanik@gmail.com</a> 
          </div>
          <div class="col-lg-3 text-right">
            {% if user.is_authenticated %}
            <img alt="" src="{% static 'images/usernamelogo.jpg' %}" style="width: 31px; height: 30px" /><a href="{% url 'profile' username=user.username %}"><label style="font-family: Georgia, 'Times New Roman', Times, serif; color: #33CCFF">{{ user.username }}</label></a>
            <a href="{% url 'logout' %}" onclick="javascript: document.getElementById('logout').submit()" class="small btn btn-primary px-4 py-2 rounded-0"><span class="icon-unlock-alt"></span> Log out</a>
            <form id="logout" method = "POST" action = "{% url 'logout' %}">
            {% else %}
            <a href="{% url 'login' %}" class="small mr-3"><span class="icon-unlock-alt"></span> Log In</a>
            <a href="{% url 's_registration'%}" class="small btn btn-primary px-4 py-2 rounded-0"><span class="icon-users"></span> Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a href="{% url 'home' %}" class="d-block">
              <img src="{% static 'images/LOGO.jpg' %}" alt="Image" class="img-fluid" style="width:134px; height:65px">
            </a>
          </div>
          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li>
                  <a href="{% url 'home' %}" class="nav-link text-left">Home</a>
                </li>
                <li class="has-children">
                  <a href="about.html" class="nav-link text-left">About Us</a>
                  <ul class="dropdown">
                    <li><a href="teachers.html">Our Teachers</a></li>
                    <li><a href="about.html">Our School</a></li>
                  </ul>
                </li>
                <li>
                  <a href="admissions.html" class="nav-link text-left">Admissions</a>
                </li>
                <li class="active">
                  <a href="{% url 'courses' %}" class="nav-link text-left">Courses</a>
                </li>
                <li>
                    <a href="contact.html" class="nav-link text-left">Contact</a>
                  </li>
              </ul>                                                                                                                                                                                                                                                                                          </ul>
            </nav>

          </div>
          <div class="ml-auto">
            <div class="social-wrap">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>

              <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span>
                class="icon-menu h3"></span></a>
            </div>
          </div>
         
        </div>
      </div>

    </header>

    
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url({% static 'images/bg_1.jpg' %})">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">All Video Lectures under this course</h2>
              <p></p>
            </div>
          </div>
        </div> 
      </div> 
    

    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="index.html">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <a href="courses.html">profile</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="">Mycourses</span>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">All videos</span>
      </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                 
                 
                <div style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif">
                    {% if courselen > 0 %}
                 <a href="{% url 'exam1' courseid=all_courses.0.course_id %}" class="small btn btn-primary px-4 py-2 rounded-0">Your Exam session is started click here for given the exam</a>
                  <p style="color: #CC3300">* Please Watch all the lectures before going for exam</p>

                    {% else %}
                    <p style="color: #CC3300">* Your Course Teacher will upload the lectures one by one....</p>
                    <p style="color: #CC3300">* Your have to watch all the lectures for given the Certification Examination</p>

                    <p style="color: #CC3300">* After watching all the lectures the examination link will appeared here</p>
                    {% endif %}
                </div>
                
                 
             
            <div id="courselist" class="align-self-left">
                


 <table>
  <thead>
    <tr>
      <th class="auto-style1">Play</th>
      <th class="auto-style2">Title</th>
      <th>Uploaded on</th>
    </tr>
  </thead>
  <tbody>
      {% for videos in all_videos %}
    <tr>
      <td class="auto-style1"><a href="{{ MEDIA_URL }}{{ videos.lecturevideo }}" class="video-1 mb-4" data-fancybox="" data-ratio="2">
           <img src="{% static 'images/play.jpg' %}" / style="height:32px; width:41px">
          </a></td>
      <td class="auto-style2"><a href="{{ MEDIA_URL }}{{ videos.lecturevideo }}" class="video-1 mb-4" data-fancybox="" data-ratio="2">
          {{videos.lecturename}}
          </a></td>
      <td>{{videos.lecturedate}}</td>
    </tr>
    
      
    
   {% endfor %} 
  </tbody>
</table>
                
                
<!--

                <table style="background-position: 3px 6px; width:99%; border-bottom-style: inset; border-bottom-color: #C0C0C0; background-repeat: repeat-x; background-color: #CCCCCC; height: 10px;">
                    <tr>
                        <td  class="auto-style1">&nbsp;</td>
                        <td class="auto-style2"><a href="{{ MEDIA_URL }}{{ videos.lecturevideo }}" class="video-1 mb-4" data-fancybox="" data-ratio="2">{{videos.lecturename}}</a><br />
                            Uploaded on: {{videos.lecturedate}} </td>
                    </tr>
                    
                   
                </table>
                
               <br /> 
-->

        <!--

         <div>
                    
           <a href="{{ MEDIA_URL }}{{ videos.lecturevideo }}" class="video-1 mb-4" data-fancybox="" data-ratio="2">
              
              <img src="images/course_5.jpg" alt="Image" class="img-fluid">

               
            </a>  
                        
                    
         </div>   
                
                

-->


           <!--
               <table style="width: 81%; margin-left: 1px;" align="center">
                
                    <tr style="border-bottom-style: inset; border-bottom-color: #C0C0C0">
                        
                        <td class="auto-style3">
                            <img alt="playbutton" src="{% static 'images/playbutton.jpg' %}" height="50px" width="50px" /></td>
                        <td class="auto-style4">{{videos.lecturename}}</td>
                        
                    
                        <td><button id="hide" onclick="myFunction()">Play</button></td>
                        
                    
                        
                        
                    
                    </tr>
                    
                </table>
                <br/>
                
                
                <div id="play" style="">
                     <video controls style="height: 379px; width: 723px; margin-left: 0px;">
                    <source src='{{ MEDIA_URL }}{{ videos.lecturevideo }}' type='video/mp4'>
                     Your browser does not support the video tag.
                         </video>
                </div>

                <br />
           -->     
                
            </div>  
                    
                </div>
            
                    
              
                
               
                    
                 
                 <p></p>
                 
              
                    
                    
            </div>
        </div>
    </div>

   
      

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <p class="mb-4"><img src="images/logo.png" alt="Image" class="img-fluid"></p>
            <p>&nbsp;</p>  
            <p><a href="#">Learn More</a></p>
          </div>
          <div class="col-lg-3">
            <h3 class="footer-heading"><span>Our Campus</span></h3>
            <ul class="list-unstyled">
                <li><a href="#">Acedemic</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Our Interns</a></li>
                <li><a href="#">Our Leadership</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Human Resources</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
              <h3 class="footer-heading"><span>Our Courses</span></h3>
              <ul class="list-unstyled">
                  <li><a href="#">Math</a></li>
                  <li><a href="#">Science &amp; Engineering</a></li>
                  <li><a href="#">Arts &amp; Humanities</a></li>
                  <li><a href="#">Economics &amp; Finance</a></li>
                  <li><a href="#">Business Administration</a></li>
                  <li><a href="#">Computer Science</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
              <h3 class="footer-heading"><span>Contact</span></h3>
              <ul class="list-unstyled">
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">Support Community</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Share Your Story</a></li>
                  <li><a href="#">Our Supporters</a></li>
              </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="copyright">
               
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- .site-wrap -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78"/></svg></div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>




  <script src="{% static 'js/main.js' %}"></script>

 <script>
     function myFunction() {
         var x = document.getElementById("play");
         if (x.style.display === "none") {
             
             x.style.display = "block";
         } else {
             x.style.display = "none";
         }
     }
</script>

</body>

</html>