<head>
  <!--  
    -->
    <style type="text/css">
        .auto-style2 {
            width: 371px;
        }
        .auto-style3 {
            width: 44px;
        }
    </style>
</head>
{% extends 'basic1.html' %}

{% block body%}
<div style="width: 802px; height: 129px">
    {% for value in all_question %}
    <table style="width: 100%; height: 123px;">
        <tr>
            <td class="auto-style3"style="text-align: right; font-family: 'Arial Black'; font-size: large; font-weight: bold;">Q{{forloop.counter}}:-</td>
            <td class="auto-style2" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large; font-weight: bold">{{value.questiontext}}</td>
            
        </tr>
         <tr>
            <td class="auto-style3" style="text-align: right">A)</td>
            <td class="auto-style2"><input type="radio" id="option1" value="option1" name="{{value.question_id}}" />{{value.option1}}</td>
            
        </tr>
         <tr>
            <td class="auto-style3"style="text-align: right">B)</td>
            <td class="auto-style2"><input type="radio" id="option2" value="option2" name="{{value.question_id}}" />{{value.option2}}</td>
            
        </tr>
         <tr>
            <td class="auto-style3"style="text-align: right">C)</td>
            <td class="auto-style2"><input type="radio" id="option3" value="option3" name="{{value.question_id}}" />{{value.option3}}</td>
            
        </tr>
        <tr>
            <td class="auto-style3" style="text-align: right">D)</td>
            <td class="auto-style2"><input type="radio" id="option4" value="option4" name="{{value.question_id}}" />{{value.option4}}</td>
            
        </tr>
        
        <tr>
            <td class="auto-style3" style="text-align: right"></td>
            <td class="auto-style2"><label id="correctAnswe{{forloop.counter}}" style="visibility:hidden">{{value.correctanswer}}</label></td>
            
        </tr>
        
        
    </table>
    <br/>
    {% endfor %}
    
    <div class="row">
        <div class="col-12">
             <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-lg px-5" onclick="getresult()" />
        </div>
        
        <label id="demo"></label>
   </div>
</div>

<br />
<br />
<br />
<br <br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />


    

{% endblock %}